#page{
	width:980px;
	height:1386px;
	margin-left:auto;
	margin-right:auto;
}
#top-right-text{
	height:61px;
	float:right;
	color:#de5d5c;
	font-family:SimHei;
	font-size:12px;
	margin-right:44px;
	padding-top:42px;
}

#top-left-text{
	width:110px;
	height:61px;
	background-color:#d45d5c;
	color:#ffffff;
	font-family:SimHei;
	font-size:12px;
	margin-left:44px;
	padding-top:42px;
	padding-left:3px;
}

#picture-text{
	width:892px;
	border-top:2px solid #938e8c;
	margin-left:44px;
	padding-top:34px;
}
#top-right-text2{
	width:203px;
	float:right;
	border-top:2px solid #cc8091;
	margin-right:0.5px;
}
#ABOUT1,#ABOUT2{
	width:fit-content;
	color:#000000;
	font-family:"Microsoft YaHei";
	font-size:18px;
	border-bottom:2px solid gray;
}

#ABOUT1 span,#ABOUT2 span{
	font-size:24px;
}

#About{
	font-family:KaiTi;
	font-size:12px;
	font-style: italic;
	line-height:10px;
	margin-top:2px;
}
#seven-hundred{
	color:#75b86b;
	font-family:"Microsoft YaHei";
	font-size:116px;
	font-style: italic;
	position:relative;
	left:-20px;
	line-height:0px;
	margin-top:80px;
}
#three-two{
	color:#cc8091;
	font-family:"Microsoft YaHei";
	font-size:55px;
	line-height:0px;
	float:left;
	margin-top:85px;
}
#CSS,#CSSCSS{
	position:relative;
	left:5px;
}
#CSS{
	color:#cc8091;
	font-family:"Microsoft YaHei";
	font-size:21px;
	line-height:0px;
	margin-top:93px;
	top:5px;
}
#CSSCSS{
	color:gray;
	font-family:"Microsoft YaHei";
	font-size:12px;
}
#top-left-picture{
	width:641px;
	height:301px;
	background:url(picture/desk.jpg);
}

#right-red{
	width:191px;
	height:301px;
	float:right;
	background-color:#cc7680;
	opacity:0.5;
}
	
#left-green{
	width:191px;
	height:301px;
	background-color:#418c59;
	opacity:0.5;
}

#what,#when,#how,#percent{
	color:#767777;
	font-family:"SimSun";
	font-size:12px;
	line-height:16px;
	margin-top:40px;
	float:left;
}
#what{
	width:230px;
	margin-left:44px;
}
#when{
	width:210px;
	color:#231815;
	font-family:"Microsoft YaHei";
	margin-left:27px;
	opacity:0.7;
}

#how{
	width:140px;
	margin-left:27px;
}

#title1,#title2,#title3{
	font-family:"Microsoft YaHei";
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
}

#title1{
	color:#418c59;
}

#title2{
	color:#d2994f;
}

#title3{
	color:#cc7680;
}

#percent{
	width:140px;
	font-family:"Microsoft YaHei";
	position:relative;
	left:-140px;
	top:105px;
}

#percent span{
	font-style:italic;
	color:#cd4a48;
	opacity:0.7;
}

#bottom{
	clear:left;
	width:892px;
	margin-left:44px;
	border-bottom:1px solid #938e8c;
}

#bottom-left{
	width:415px;
	padding-top:45px;
}

#bottom-left-title{
	border-bottom:3px solid #11456b;
}

#bottom-left-title h1,#bottom-left-title h2{
	color:#11456b;
	font-family:SimHei;
	font-size:42px;
	font-weight:bold;
}

#bottom-left-title h1 i{
	color:#f5e327;
	font-size:72px;
}

#bottom-left-title h2{
	font-size:33px;
}

#bottom-left-picture{
	width:167px;
	height:288px;
	float:right;
	margin-right:10px;
}
#bottom-left-text{
	padding-top:20px;
}
#bottom-left-text p{
	color:#767777;
	font-family:"SimSun";
	font-size:12px;
	line-height:16px;
}
#bottom-left-text p span{
	float:right;
	margin:12px;
}
#bottom-left-text span{
	color:#f5e327;
	font-family:"Microsoft YaHei";
	font-size:70px;
	line-height:70px;
	float:left;
}

#bottom-right{
	padding-top:60px;
	float:right;
}

#bottom-right-picture{
	width:458px;
	height:257px;
	background:url(picture/computer2.jpg);
}

#bottom-gray{
	height:61px;
	background-color:rgba(52,52,52,0.4);
	position:relative;
	top:196px;
	padding-top:8px;
	padding-left:40px;
}

#bottom-right-title{
	height:44px;
	border-left:3px solid #72b16a;
	padding-left:10px;
}

#bottom-right-title p{
	color:#ffffff;
	font-family:"Microsoft YaHei";
	font-size:26px;
}

#bottom-right-title p i{
	margin-left:8px;
	color:#72b16a;
	font-size:12px;
}

#bottom-right-block{
	width:459px;
	height:318px;
	background-color:#eeedd6;
	margin-top:35px;
	position:relative;
}

#list{
	color:#5a5b5b;
	font-family:SimSun;
	font-size:16px;
	line-height:32px;
	padding-top:30px;
}
#list i{
	font-size:12px;
}

#bottom-red{
	width:260px;
	height:160px;
	background-color:#d45d5c;
	position:absolute;
	top:158px;
	padding-top:40px;
	padding-left:15px;
}

#zero{
	font-size:110px;
	line-height:86px;
	height:86px;
	color:#ffffff;
	float:left;
	border-right:2px solid #ffffff;
}
#one,#hello-world{
	position:relative;
	left:8px;
}

#one{
	color:#ffffff;
	font-family:SimHei;
	line-height:24px;
	font-size:21px;
}

#hello-world{
	color:#ffffff;
	font-family:SimHei;
	font-size:12px;
	line-height:14px;
	top:-10px;
}

#quotation{
	width:200px;
	color:#5a5b5b;
	font-family:SimHei;
	font-size:14px;
	line-height:16px;
	margin-left:280px;
	margin-top:40px;
}

#quotation span{
	color:#d45d5c;
	font-size:72px;
	position:absolute;
}

#first-span{
	left:240px;
	bottom:115px;
}

#second-span{
	left:410px;
	bottom:20px;
}

#footer{
	color:#d45d5c;
	font-family:SimHei;
	font-size:12px;
	float:right;
	padding-right:44px;
}
	